{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    rel="stylesheet">
    <link rel="stylesheet" href="//assets.okfn.org/themes/okfn/okf-footer/okf-footer.css"/>
    <link href="/static/css/main.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file://
-->
    <!--[if lt IE 9]>
      <link href="/static/css/ie.css" rel="stylesheet">
      <script
src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script
src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% render_block "css" %}
<title>{% block "title" %}{% endblock %}</title>
</head>
{% cms_toolbar %}
<body class="page okf-panel">
<div class="light">
<div class="container">
{% block header %}
{% endblock %}
{% block base_content %}
{% endblock %}
</div>
</div>
{% block footer %}
{% endblock %}
{% render_block "js" %}
</body>
</html>
