{% load cms_tags sekizai_tags %}
<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
    rel="stylesheet">
    <link rel="stylesheet" href="//assets.okfn.org/themes/okfn/okf-footer/okf-footer.css"/>
    <link href="/static/css/main.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% render_block "css" %}
<title>{% block "title" %}{% endblock %}</title>
</head>
{% cms_toolbar %}
<body class="page okf-panel">
<div class="light">
<div class="container">
{% block header %}
{% endblock %}
{% block base_content %}
{% endblock %}
</div>
</div>
{% block footer %}
{% endblock %}
{% render_block "js" %}
</body>
</html>
