{% extends "base.html" %}
{% load cms_tags %}
{% load menu_tags %}
{% block header %}
<nav class="navbar" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse"
data-target="#navbar-collapse" >
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">Stop Secret Contracts</a>
</div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                          <ul class="nav navbar-nav navbar-right">
{% show_menu 0 100 0 100 %}
    </ul>
    </div>
</div>
</nav>
{% endblock %}
{% block footer %}
<footer class="footer">
<div class="inner">
<div class="container">
{% static_placeholder "footer" %}
</div>
</div>
</footer>
{% endblock %}
