{% extends "iframe.html" %}

{% block "content" %}
<form action="" method="POST">
<h2>Add a Campaign from Change.org</h2>
{% csrf_token %}
<span style="color: red">
{{urlform.url.errors}}
</span>
<div class="form-group row">
<div class="col-md-2">
<label for="id_url" style="padding: 10px 30px;">URL on change.org:</label>
</div>
<input class="col-md-6" style="padding: 10px 30px" id="id_url" name="url" type="url" placeholder="http://www.change.org/petitions/..."></input>
<input style="display: inline-block; padding: 11px 30px;" type="Submit" name="Submit" value="Submit">
</div>
</form>
<p>If you're not using change.org email us at
contact@stopsecretcontracts.org and we'll add your campaign manually</p>
<!-- <form action="" method="POST">
<h2>Add another Campaign</h2>
{% csrf_token %}
{{form.as_p}}
<input type="Submit" name="Submit" value="Submit">
</form> -->
{% endblock %}
